---
title: Csillagok Receptek
layout: layouts/home.njk
description: All you can eat recipes created by Geczy Csilla!
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  This is a recipe website of Csilla's original recipes. These were first posted on 
  <a target="_blank" href="https://cookpad.com/hu/felhasznalok/6659384">cookpad.hu</a>
</p>

<div id="recipes">
  <h2>Recipes</h2>
  {% set recipeslist = collections.recipes %}
  {% include "recipeslist.njk" %}
</div>