---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - recipe
    - recipes
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

{% set recipeslist = collections[ tag ] %}
{% include "recipeslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
